.shopping-cart {
    position: absolute;
    right: 0;
    top: 50px;
    width: 400px;
    background: #fff;
    z-index: 9;
    height: calc(100vh - 50px);
}

.cart-item {
    display: flex;
    align-items: end;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item img {
    width: 100px;
    border-radius: 5px;
        height: 100px;

}

.cart-item div {
    padding-left: 10px;
}