

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  height: 100vh;
  background: #1F4690;
  display: flex;
    align-items: center;
    justify-content: center;
}

#root .container {
  width: 300px;
  background: #FFA500;
  padding: 50px;
    border-radius: 15px;
}

#root .container .form-row {
  flex-direction: column;
  display: flex;
}

#root .container .form-row label {
    margin-bottom: 5px;
}

#root .container .form-row input {
  height: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    line-height: 40px;
    margin-bottom: 10px;
}

